@import "tailwindcss";

.header-branding-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header-branding-container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    object-position: left center;
}
